.containerLeft {
  background-color: #eef0f1;
}

.koderName {
  font-size: large;
  font-weight: bold;
  color: black;
}

.rowContainer {
  margin-top: 14px;
}

.koderId {
  font-size: small;
}

.profilePic {
  border-radius: 65%;
  width: 100%;
  height: 100%;
}

.hoverItem {
}

.iconSideBar {
  margin-right: 5px;
}

.olSideBar {
  padding-left: 0px;
}

.a:link,
a:visited,
a:active a:hover {
  text-decoration: none;
  color: black;
}

scroll-container {
  display: block;
  width: 170px;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 20%;
  font-size: 15px;
}

.asideImage1 {
  height: 100%;
  width: 100%;
}

.simpleLink {
  color: blue;
  font-weight: bold;
}

.headerText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
