*{
    box-sizing: border-box;
}
@media screen and (min-width: 375px){
    #feed{
        display: none;
        &:target{
            display: block;
        }
    }
     #week{
        display: none;
        &:target{
            display: block;
        }
    }
    #month{
        display: none;
        &:target{
            display: block;
        }
    }
    #year{
        display: none;
        &:target{
            display: block;
        }
    }
    #infinity{
        display: none;
        &:target{
            display: block;
        }
    }
    #latest{
        display: none;
        &:target{
            display: block;
        }
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        margin-bottom: 0;
        padding:  0rem 0rem 0.5rem ;
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            padding: 1rem 0rem;
        }
        ul{
            background-color: transparent;
            li{
                display: flex;
                align-items: center;
                margin: 0rem 0.25rem;
                padding: 0.25rem;
                &:hover{
                    cursor: pointer;
                    background: #3b49df1a;
                    &:active{
                        box-shadow: 0 4px 1px -2px rgba(65,74,218,1);
                    }
                }
                span{
                    color: #363d44;;
                    font-weight: 900;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                a{
                    font-size: 1rem;
                    color: #363d44;
                    width: auto;
                    margin: 0;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                p{
                    display: block;
                    &:target{
                        display: none;
                    }
                }
            }
        }
    }
    .card-img-container{
        width: 100%;
        overflow: hidden;
        .card-img-top{
            height: auto;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
    .footer-card-central{
        display: flex;
        flex-direction: row;
        .author-profile{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 0.5rem;
            &:hover{
                cursor: pointer;
            }
        }
        .footer-firm{
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
        p{
            font-weight: bolder;
            margin: 0px;
            font-size: 0.875rem;
            font-weight: 900;
            color: #4d5760;
            &:hover{
                cursor: pointer;
                color: #08090a;
            }
        }
        a{
            margin: -1px;
            padding: 0;
            font-size: 0.75rem;
            color: #4d5760;
            height: auto;
            &:hover{
                cursor: pointer;
                color: #08090a;
                text-decoration: none;
            }
        }
    }
    .card-title {
        font-family: 'Roboto', sans-serif;
        padding-left: 2.3rem;
        font-size: 1.875rem;
        line-height: 1.25;
        font-weight: 700;
        color: #08090a;
        word-break: break-word;
        &:hover{
            cursor: pointer;
            color: #3b49df;
        }
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.875rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
    }
    .tag-link{
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        color: #08090a;
        padding-left: 2.3rem;
        margin-bottom: 0.5rem;
        .discuss{
            background-color: black;
            color: white;
            opacity: 0.9;
            border: none;
            border-radius: 0.25rem;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
        }
            .explain{
                background-color:  #44474c;
                color: #e8eaed;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
            .showdev{
                background-color:  #091b47;
                color: #b2ffe1;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
        a{
            opacity: 0.6;
            padding: 0.25rem;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
            span{
                opacity: 0.4;
            }
        }
    }
    .reactions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 2.3rem;
        font-size: 0.875rem;
        a{
            padding: 4px 12px 4px 0px;
            color: #363d44;
            &:hover{
                text-decoration: none;
                background-color: rgba(0,0,0,0.035);
                cursor: pointer;
                color: #08090a;
            }
            span{
                fill: currentColor;
            }
        }
        .time-read{
            display: flex;
            align-items: center;
            p{
                color: #64707d;
                font-size: 80%;
                margin: 0rem 0.5rem 0rem;
                &:hover{
                    cursor: pointer;
                }
            }
            .btn-read-save{
                font-family: 'Roboto', sans-serif;
                opacity: 0.8;
                background-color: #b5bdc4;
                color: #08090a;
                border-color: transparent;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
        .comments{
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px){
    #feed{
        display: none;
        &:target{
            display: block;
        }
    }
     #week{
        display: none;
        &:target{
            display: block;
        }
    }
    #month{
        display: none;
        &:target{
            display: block;
        }
    }
    #year{
        display: none;
        &:target{
            display: block;
        }
    }
    #infinity{
        display: none;
        &:target{
            display: block;
        }
    }
    #latest{
        display: none;
        &:target{
            display: block;
        }
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        margin-bottom: 0;
        padding:  0rem 0rem 0.5rem ;
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            padding: 1rem 0rem;
        }
        ul{
            background-color: transparent;
            li{
                display: flex;
                align-items: center;
                margin: 0rem 0.25rem;
                padding: 0.25rem;
                &:hover{
                    cursor: pointer;
                    background: #3b49df1a;
                    &:active{
                        box-shadow: 0 4px 1px -2px rgba(65,74,218,1);
                    }
                }
                span{
                    color: #363d44;;
                    font-weight: 900;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                a{
                    font-size: 1rem;
                    color: #363d44;
                    width: auto;
                    margin: 0;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                p{
                    display: block;
                    &:target{
                        display: none;
                    }
                }
            }
        }
    }
    .card-img-container{
        width: 100%;
        overflow: hidden;
        .card-img-top{
            height: auto;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
    .footer-card-central{
        display: flex;
        flex-direction: row;
        .author-profile{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 0.5rem;
            &:hover{
                cursor: pointer;
            }
        }
        .footer-firm{
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
        p{
            font-weight: bolder;
            margin: 0px;
            font-size: 0.875rem;
            font-weight: 900;
            color: #4d5760;
            &:hover{
                cursor: pointer;
                color: #08090a;
            }
        }
        a{
            margin: -1px;
            padding: 0;
            font-size: 0.75rem;
            color: #4d5760;
            height: auto;
            &:hover{
                cursor: pointer;
                color: #08090a;
                text-decoration: none;
            }
        }
    }
    .card-title {
        font-family: 'Roboto', sans-serif;
        padding-left: 2.3rem;
        font-size: 1.875rem;
        line-height: 1.25;
        font-weight: 700;
        color: #08090a;
        word-break: break-word;
        &:hover{
            cursor: pointer;
            color: #3b49df;
        }
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.875rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
    }
    .tag-link{
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        color: #08090a;
        padding-left: 2.3rem;
        margin-bottom: 0.5rem;
        .discuss{
            background-color: black;
            color: white;
            opacity: 0.9;
            border: none;
            border-radius: 0.25rem;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
        }
            .explain{
                background-color:  #44474c;
                color: #e8eaed;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
            .showdev{
                background-color:  #091b47;
                color: #b2ffe1;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
        a{
            opacity: 0.6;
            padding: 0.25rem;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
            span{
                opacity: 0.4;
            }
        }
    }
    .reactions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 2.3rem;
        font-size: 0.875rem;
        a{
            padding: 4px 12px 4px 0px;
            color: #363d44;
            &:hover{
                text-decoration: none;
                background-color: rgba(0,0,0,0.035);
                cursor: pointer;
                color: #08090a;
            }
            span{
                fill: currentColor;
            }
        }
        .time-read{
            display: flex;
            align-items: center;
            p{
                color: #64707d;
                font-size: 80%;
                margin: 0rem 0.5rem 0rem;
                &:hover{
                    cursor: pointer;
                }
            }
            .btn-read-save{
                font-family: 'Roboto', sans-serif;
                opacity: 0.8;
                background-color: #b5bdc4;
                color: #08090a;
                border-color: transparent;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
        .comments{
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 992px){
    #feed{
        display: none;
        &:target{
            display: block;
        }
    }
     #week{
        display: none;
        &:target{
            display: block;
        }
    }
    #month{
        display: none;
        &:target{
            display: block;
        }
    }
    #year{
        display: none;
        &:target{
            display: block;
        }
    }
    #infinity{
        display: none;
        &:target{
            display: block;
        }
    }
    #latest{
        display: none;
        &:target{
            display: block;
        }
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        margin-bottom: 0;
        padding:  0rem 0rem 0.5rem ;
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            padding: 1rem 0rem;
        }
        ul{
            background-color: transparent;
            li{
                display: flex;
                align-items: center;
                margin: 0rem 0.25rem;
                padding: 0.25rem;
                &:hover{
                    cursor: pointer;
                    background: #3b49df1a;
                    &:active{
                        box-shadow: 0 4px 1px -2px rgba(65,74,218,1);
                        display: block;
                    }
                }
                span{
                    color: #363d44;;
                    font-weight: 900;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                a{
                    font-size: 1rem;
                    color: #363d44;
                    width: auto;
                    margin: 0;
                    &:hover{
                        color: #3b49df;
                        text-decoration: none;
                    }
                }
                p{
                    display: block;
                    &:target{
                        display: none;
                    }
                }
            }
        }
    }
    .card-img-container{
        width: 100%;
        overflow: hidden;
        .card-img-top{
            height: auto;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
    .footer-card-central{
        display: flex;
        flex-direction: row;
        .author-profile{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 0.5rem;
            &:hover{
                cursor: pointer;
            }
        }
        .footer-firm{
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
        p{
            font-weight: bolder;
            margin: 0px;
            font-size: 0.875rem;
            font-weight: 900;
            color: #4d5760;
            &:hover{
                cursor: pointer;
                color: #08090a;
            }
        }
        a{
            margin: -1px;
            padding: 0;
            font-size: 0.75rem;
            color: #4d5760;
            height: auto;
            &:hover{
                cursor: pointer;
                color: #08090a;
                text-decoration: none;
            }
        }
    }
    .card-title {
        font-family: 'Roboto', sans-serif;
        padding-left: 2.3rem;
        font-size: 1.875rem;
        line-height: 1.25;
        font-weight: 700;
        color: #08090a;
        word-break: break-word;
        &:hover{
            cursor: pointer;
            color: #3b49df;
        }
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 1.875rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
    }
    .tag-link{
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        color: #08090a;
        padding-left: 2.3rem;
        margin-bottom: 0.5rem;
        .discuss{
            background-color: black;
            color: white;
            opacity: 0.9;
            border: none;
            border-radius: 0.25rem;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
        }
            .explain{
                background-color:  #44474c;
                color: #e8eaed;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
            .showdev{
                background-color:  #091b47;
                color: #b2ffe1;
                opacity: 0.9;
                border: none;
                border-radius: 0.25rem;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
        a{
            opacity: 0.6;
            padding: 0.25rem;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
            span{
                opacity: 0.4;
            }
        }
    }
    .reactions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 2.3rem;
        font-size: 0.875rem;
        a{
            padding: 4px 12px 4px 0px;
            color: #363d44;
            &:hover{
                text-decoration: none;
                background-color: rgba(0,0,0,0.035);
                cursor: pointer;
                color: #08090a;
            }
            span{
                fill: currentColor;
            }
        }
        .time-read{
            display: flex;
            align-items: center;
            p{
                color: #64707d;
                font-size: 80%;
                margin: 0rem 0.5rem 0rem;
                &:hover{
                    cursor: pointer;
                }
            }
            .btn-read-save{
                font-family: 'Roboto', sans-serif;
                opacity: 0.8;
                background-color: #b5bdc4;
                color: #08090a;
                border-color: transparent;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
        .comments{
            display: flex;
            align-items: center;
        }
    }

}