header {
    div {
        nav {
            .btn-primary {
                background-color: #445ede;
            }

            div.i{
                background-color: rgb(216, 216, 216);
                height: 30px;
                width: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
            }
            div {

                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .foto {
                width: 40px;
                height: 40px;
            }
            
        }
    }
}

 /* Aside derecho */

.asideAiry {
    .card {
        background-color: #f9fafa;

        .card-body {
            
            p {
                strong {
                    font-size: 17px;
                }
                
            }
            .badge-secondary {
                background-color: #445ede;
            }
        }
        
        
        

        .card-articles {
            :hover {
                background-color: white;
                color: #445ede;
                cursor: pointer;
            }
        }
    }
    
}


@media only screen and (max-width:  960px) {
    header {
        div {
            nav {
                .form-control {
                    width: 100px;
                }
            }
        }
    }
}